.img-dialog {
    border: solid #777 4px;
    background-color: white;

    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 845;

    height: 500px;
    margin-top: -250px;

    width: 632px;
    margin-left: -316px;
}

.img-dialog-content {
    border: none;
    width: 628px;
    height: 468px;
    text-align: center;
    overflow: auto;
    margin: 0;
    padding: 0 4px 4px 4px;
}

.imgbox {
    float: left;    
    
    border: solid black 1px;
    margin: 2px;    
    background-color: white;
    
    width: 150px;
    height: 150px;  
    
    text-align: center;
    vertical-align: middle;
    display: table-cell; 
}

.img {
    max-width: 150px;
    max-height: 150px;
    margin: 0;
    padding: 0;
}

.yandex-logo {
    position: relative;
    left: 6px;
    top: 4px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.yandex-logo-img {
    margin: 0;
    padding: 0;
}