body {
    background-color: slategray;
    text-align: center;
}

label {
    display: block;
    padding: 2px;
    font-weight: bold;
}

#options {
    margin-top: 10px;
    width: 400px;
    background: steelblue;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 7px;
    -webkit-box-shadow: 0 0 5px #8EC2EB;
    text-align: left;
}

#status {
    color: white;
}

#lblKey {
    margin-top: 10px;
}

select {
    width: 150px;
}

input[type=button] {
    width: 100px;
}