body {
    min-width: 400px;
    min-height: 200px;
    margin: 0;
    padding: 2px;
}

ul.menu {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: right;
}

ul.menu li {
    display: inline;
    padding: 0;
}

ul.menu li img {
    cursor: pointer;
}

.loadingPanel {
    display: none;
}

.imagesPanel {
    height: 196px;
    width: 396px;
    border: dashed lightgray 1px;
    margin: 5px;
}